body {
  background-image: linear-gradient(to bottom right, lightblue, lightgreen);
}
h1 {
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  color: darkblue;
}
h2 {
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  font-size: 20px;
  color:darkred;
  font-style:italic;
}
